/* -----------------------------------------
* VARIABLES
-------------------------------------------*/
/*** COLORS ***/
$col-dark: #181818;
$col-red: #e50914;
$col-gray: #6a6a6a;


/*** LAYOUT ***/
$layout-top: 80px;